*{
    margin: 0;
    padding: 0;
    background-color: rgb(28, 26, 26);
    box-sizing: border-box;

}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:70px auto auto 70px ;
    grid-template-areas: "nav nav nav nav"
                         "header header header header"
                          "main main main main"
                          "footer footer footer footer";
}
.navbar {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.logo{
    width: 12px;
    margin-left: 10px;
    margin-top: 10px;
}
 
.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li{
  padding: 10px ;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
        
}

.header{
    grid-area: header;
}
.title{
    margin: 10px;
    color: white;
    font-size: 16px;

}
.main{
    grid-area: main;
}
.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.inicio p{
   color: white;
   font-size: 14px;
   margin: 5%;
   
}
.inicio img{
    width: 90%;
    margin:5%;
   justify-content: space-around;
 
}
.cards{
    margin: 10px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}
.card{
    margin: 30px;
}
.cardImg{
    width: 100%;
    border: rgb(241, 189, 97);
    border-radius: 10px;
}
.btn{
  margin: 10px;
  align-self: center;
  color: beige;
  padding: 10px;
  background-color: grey;
  border: 1px solid orange;
  border-radius: 5px;
}
.containerForm{
display: flex;
background-image: url(../img/imagen\ de\ index1.jpg);
height:500px ;
background-size: cover;
background-repeat: no-repeat;
}

.form form{
    margin-right: 100px;
    display: flex;
   justify-content: space-around;
   flex-direction: column;
   margin-left: 20px;
   margin-bottom: 30px; 
}
.form form input{
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
    color: white;
    background-color: bisque;
    border: rgb(210, 145, 31) solid 2px;
    width: 300px;
  padding: 20px;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.info p{
    color: beige;
    font-size: 20px;
    margin: 20px;
    
    
}
.info img{
    width: 80%;
    
}
 .ubicacion{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .ubicacion p{
     margin-left: 20px;
     color: white;
     font-size: 18px;
 }
.footer{
   grid-area: footer;
   border-top: 2px solid orange;
   text-align: center;
   color: beige;
   gap: 5%;
}
 
.footerImg{
   width: 50px;
  padding: 20px;
}
.footer h5{
    margin-bottom: 5%;
}
@media (min-width:768px) { 
    .logo{
        width:18px;
    }
    .navbar ul li a{
        font-size: 18px;
    }
    .title{
        font-size: 18px;
    }
    .footerImg{
        width: 70px;
       padding: 20px;
     }
}
@media (min-width:1200px) { 
    .logo{
        width:18px;
    }
    .navbar ul li a{
        font-size: 25px;
    }
    .title{
        font-size: 25px;
    }
    .footerImg{
        width: 100px;
        margin: 20px;
   
     }
     .inicio p{
        font-size: 20px;
     }
}
